@{}

@model List<Application.Models.Entities.Salary.SalaryClass>

<div class="container mt-4">
    <h1 class="text-center">All Salaries</h1>
</div>
@{
    ViewBag.Title = "List Salaries";
}
<div class="table-container">
    <table id="salaryTable" class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Salary Id</th>
                <th>Employee Id</th>
                <th> Salary </th>
                <th> Edit Action </th>
                @* <th> <a class = "btn btn-primary" asp-controller = "Dept" asp-action = "AddDept"> Add </a> </th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var salrow in Model)
            {
                <tr>
                    <td> @salrow.Sal_Id </td>
                    <td> @salrow.Emp_Id </td>
                    <td> @salrow.SalaryAmount </td>
                    <td> 
                        <a class = "btn btn-outline-primary" asp-controller = "Salary" asp-action = "EditSalary" asp-route-id = "@salrow.Sal_Id"> Edit </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>