@{}

@model List<Application.Models.Entities.Salary.SalaryClass>

<h1> All Salaries </h1>

<table class ="table">
    <thead>
        <tr>
            <th>Salary Id</th>
            <th>Employee Id</th>
            <th> Salary </th>
            @* <th> <a class = "btn btn-primary" asp-controller = "Dept" asp-action = "AddDept"> Add </a> </th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var salrow in Model)
        {
            <tr>
                <td> @salrow.Sal_Id </td>
                <td> @salrow.Emp_Id </td>
                <td> @salrow.SalaryAmount </td>
                <td> 
                    <a class = "btn btn-primary" asp-controller = "Salary" asp-action = "EditSalary" asp-route-id = "@salrow.Sal_Id"> Edit </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>