@{}

@model List<Application.Models.Entities.Department.DepartmentClass>

@{
    ViewBag.Title = "List Departments";
}

<div class="container mt-4">
    <h1 class="text-center">List of Departments</h1>
</div>

<div class="table-container">
    <table id="DeptTable" class ="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Department Id</th>
                <th> Department Name </th>
                <th> <a class = "btn btn-outline-success" asp-controller = "Dept" asp-action = "AddDept"> Add </a> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deptrow in Model)
            {
                <tr>
                    <td> @deptrow.Dept_Id </td>
                    <td> @deptrow.Dept_Name </td>
                    <td> 
                        <a class = "btn btn-outline-primary" asp-controller = "Dept" asp-action = "EditDept" asp-route-id = "@deptrow.Dept_Id"> Edit </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>